<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts" class="exp">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p class="ft">City : {{ post.content }}</p>
    <p class="ft">Ownership: {{ post.ownership}}</p>
    <p class="ft">Faculty Members: {{ post.faculty}}</p>
    <p class="ft">Established : {{ post.establish}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
